<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.com.olhonavaga"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>

    <uses-sdk android:minSdkVersion="19"/>

    <application android:theme="@style/Theme.Olho_na_vaga" android:label="@string/app_name" android:icon="@drawable/ic_launcher">

        <activity android:name=".ui.VagaSplashActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.DetalheVagaActivity" android:screenOrientation="portrait" android:icon="@android:color/transparent"
        />
        <activity android:name=".ui.VagasListActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"  android:icon="@android:color/transparent"
        />

    </application>

</manifest>
